{
    "root": true,
    "env": {
        "node": true,
        "jest": true,
        "es2020": true
    },
    "extends": [
        "prettier",
        "eslint:recommended",
        "plugin:prettier/recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "./tsconfig.eslint.json",
        "tsconfigRootDir": "."
    },
    "plugins": [
        "@typescript-eslint",
        "prettier",
        "jest"
    ],
    "ignorePatterns": ["node_modules/*", "dist/*","*.js"],
    "rules": {
        "prettier/prettier": [
            "error",
            {
                "trailingComma": "all",
                "singleQuote": true,
                "printWidth": 100,
                "useTabs": true
            }
        ],
        "arrow-body-style": "off",
        "prefer-arrow-callback": "off"
    }
}
